// Fonts

$font-main: 'Manrope', sans-serif;
// $font-en: 'Timmana', sans-serif;

// Colors

$blue: #1143c0;
$green: #0d9739;
$text: #484848;
$yellow: #ecb55a;
$placeholder: #afafaf;
$lightBorder: #dadce0;
$darkBorder: #484848;
$footer: #282828;
$white: #ffffff;
$backgroundMain: #f2f3f7;
$lightRed: rgb(240, 87, 87);

$blueShadow: #e2edf9;
$darkShadow: rgba(140, 152, 164, 0.13);

$boxShadow: -1px rem(5) rem(10) rgba(0, 0, 0, 0.1);

// Media

// $tablet: 959px;
// $phone: 540px;
